body {
  color: #4551ff;
}

h1 {
	color: #05a8co;
}

h2 {
	color: #c2a36;
}

ol {
	color: #2fe171;
}

header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
